# URL da API em producao ou desenvolvimento
VITE_API_BASE=http://localhost:8080

# Firebase Web SDK (todas minusculas, sem acentos ou caracteres especiais)
VITE_FIREBASE_APIKEY=
VITE_FIREBASE_AUTHDOMAIN=pi-3-286ed.firebaseapp.com
VITE_FIREBASE_PROJECTID=pi-3-286ed
VITE_FIREBASE_STORAGEBUCKET=pi-3-286ed.firebasestorage.app
VITE_FIREBASE_MESSAGINGSENDERID=
VITE_FIREBASE_APPID=
