# Porta do backend (precisa bater com API_BASE do frontend default http://localhost:8080)
PORT=8080

# CORS
CORS_ORIGIN=http://localhost:5173

# Firebase Admin
FIREBASE_CREDENTIALS_FILE=pi-3-286ed-firebase-adminsdk-fbsvc-d4d68e7e19.json
FIREBASE_STORAGE_BUCKET=

# Mail
MAIL_ENABLED=false
MAIL_FROM=no-reply@complementa.local

# Server log level
NODE_ENV=development

